@model IEnumerable<Shop___videopoint.Models.Product>

@{
    ViewBag.Title = "Index";
    var first = Model.First();
}

<h2>Produkty</h2>
<p>Produktów w sklepie: @Model.Count()</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>



@foreach (var product in Model)
{
    @Html.Partial("_Product", product)
}
