@model System.Collections.Generic.IEnumerable<Shop___videopoint.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>@DateTime.Now.Second</p>
</div>

@Html.Action("GetCategoryByFilter","Categories")